// Overall
$primary-main: #326295;
$primary-dark: #274d75;
$primary-light: #3a73b0;

$secondary-main: #342e53;
$secondary-dark: #282440;
$secondary-light: #443d6e;

$tertiary-main:#598787;

$text-primary-main: #eeeeed;
$text-primary-dark: #ccc;
$text-primary-light: #fff;

$text-secondary-main: #333;
$text-secondary-dark: #000;
$text-secondary-light: #555;

$disabled: #eeeeed;
$text-disabled: #888;

// Nav
$nav-color-bg: #ddd;
$nav-color-item: #eeeeed;
$nav-color-item-hover: #ccc;
$nav-color-item-selected: #fff;
$nav-width:200px;

$nav-color-item-text:#333;
$icon-size:20px;

$icon-color-main: #555;
$icon-color-dark: #222;

$item-spacing:5px;
$mode-height:56px;

$nesting-left:20px;
$nesting-right:20px;

